    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/init.js"></script>

  <div class="parallax-container">
    <div class="parallax"><img class="responsive-img" alt="parallax" src="<%= @article.image %>"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header"><%= @article.title %></h2>
      <p class="grey-text text-darken-3 lighten-3"><%= simple_format(@article.detail) %></p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img class="responsive-img" alt="parallax" src="<%= @article.image %>"></div>
  </div>