// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.brand-logo {
  margin-left: 20px;
}

nav li {
  min-width: 100px;
  text-align: center;
}

.card-content {
  overflow: hidden;
  height: 6.0em;
}

.parallax-container {
  height: 500px;
}

#send1 {
  margin: 20px 0;
}

.pagination {
  margin-left: 25%;
}

